html,
body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* no scrolling on x-axis */
}

section {
    margin: 0;
    padding: 0;
}

/* text */
.title-txt {
    text-align: center;
    font-size: 3rem;
}

.nav-txt {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.5rem;
    color: white;
    text-align: center;
    z-index: 2;
}

.iss-txt {
    text-align: center;
    font-size: 2rem;
}


/* home page */
.main-page,
.iss-page {
    background-image: url('/images/background.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.main-cont {
    text-align: center;
    z-index: 1;
    color: white;
}


.wave-text span {
    display: inline-block;
    font-size: 5rem;
    color: white;
    animation: wave 2s ease-in-out infinite;
}

.wave-text span:nth-child(1) {
    animation-delay: 0s;
}

.wave-text span:nth-child(2) {
    animation-delay: 0.2s;
}

.wave-text span:nth-child(3) {
    animation-delay: 0.4s;
}

.wave-text span:nth-child(4) {
    animation-delay: 0.6s;
}

.wave-text span:nth-child(5) {
    animation-delay: 0.8s;
}

.wave-text span:nth-child(6) {
    animation-delay: 1.2s;
}

.wave-text span:nth-child(7) {
    animation-delay: 1.4s;
}

.wave-text span:nth-child(8) {
    animation-delay: 1.6s;
}

@keyframes wave {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
        /* Adjust height of the wave */
    }
}

/* Nav Page */
.nav-page {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0d0c0d;
    color: white;
    position: relative;
    padding: 0;
}

.planet-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    margin-top: 120px;
}

.planet-btn {
    padding: 0;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s, box-shadow 0.3s;
    z-index: 1;
    /* Add transition for smooth effect */

}

.planet-btn:hover {
    transform: scale(1.1);
}

.planet-btn:focus {
    outline: 2px solid #ffffff;
    outline-offset: 4px;
}

/* planet buttons */
.planet-btn.mercury {
    background-image: url('/images/mercury.png');
    height: 80px;
    width: 80px
}

.planet-btn.venus {
    background-image: url('./images/venus.png');
    height: 100px;
    width: 100px;
}

.planet-btn.earth {
    background-image: url('./images/earth.png');
    height: 150px;
    width: 150px;
}

.planet-btn.mars {
    background-image: url('./images/mars.png');
    height: 175px;
    width: 175px;
}

.planet-btn.jupiter {
    background-image: url('./images/jupiter.jpg');
    height: 300px;
    width: 300px;
}

.planet-btn.saturn {
    background-image: url('./images/saturn.png');
    background-size: contain;
    height: 375px;
    width: 375px;
}

.planet-btn.uranus {
    background-image: url('./images/uranus.png');
    height: 200px;
    width: 200px;
}

.planet-btn.neptune {
    background-image: url('./images/neptune.png');
    height: 170px;
    width: 170px;
    margin-bottom: 40px;
}

/* planet pages styling */
/* styling for the planet pages */
.planet-back {
    background-color: #0d0c0d;
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
    flex-direction: column;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-top: 3%;
    transition: color 0.5s;
}

.hist-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 20px;
    min-height: 10vh;
    width: 60vw;
    font-size: 1.2rem;
    margin-top: 20px;
    text-align: center;
}

.facts-cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    justify-content: center;
    width: 60vw;
    min-height: 10vh;
    margin-top: 20px;
    margin-bottom: 10%;
}

.facts-cont>div {
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

.planet-img {
    transition: transform 0.3s;
    display: flex;
    justify-content: center;
}

div img.planet-img.mercury {
    width: 150px;
    height: 150px;
}

div img.planet-img.venus {
    width: 150px;
    height: 150px;
}

div img.planet-img.earth {
    width: 200px;
    height: 200px;
}

div img.planet-img.mars {
    width: 150px;
    height: 150px;
}

div img.planet-img.jupiter {
    width: 400px;
    height: 400px;
}

div img.planet-img.saturn {
    width: 400px;
    height: 300px;
}

div img.planet-img.uranus {
    width: 200px;
    height: 200px;
}

div img.planet-img.neptune {
    width: 250px;
    height: 250px;
}

.planet-img:hover {
    transform: scale(1.1);
}

/* text hovering */
.title.earth:hover {
    color: #80afdd;
}

.title.venus:hover {
    color: #b67323;
}

.title.jupiter:hover {
    color: #a27c5d;
}

.title.mars:hover {
    color: #5f1001;
}

.title.mercury:hover {
    color: #797979;
}

.title.neptune:hover {
    color: #07478c;
}

.title.saturn:hover {
    color: #ccc285;
}

.title.uranus:hover {
    color: #6c86e1;
}

/* ISS page */
.iss-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5rem;
}


/* CSS */
.iss-btn {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 58px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform, opacity;
    z-index: 0;
}

.iss-btn:hover {
    background: #F6F9FE;
    color: #174ea6;
}

.iss-btn:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}

.iss-btn:focus {
    outline: none;
    border: 2px solid #4285f4;
}

.iss-btn:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.iss-btn:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.iss-btn:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.iss-btn:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.iss-btn:disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}